.list{
    width:300px;
    height:50px;
    margin:20px auto;
    background-color: rgb(163, 12, 151);
    border: 0;
    border-radius: 5px;

}
.list p{
    padding:10px;
    position: relative;
    
}

.list p  span{
    position:absolute;
    right:10px;
}

.faicons{
    color: white;
    font-size: 15px;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 18px;
    outline: none;
}
.delete{
    background-color: #f71a2c;
    border: none;
    margin-left: 3px;
    border-radius: 5px;
    /* color: white; */
}
.edit{
    background-color: #bfff1d;
    border-radius: 5px;
    border: none;
    margin-right: 3px;
    /* color: white; */
    
}